<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/TSchreibers" target="_blank">
                <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>

            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/the_schreibers/" target="_blank">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->


    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://www.jonasjschreiber.com/"> jonasjschreiber.com</a>
    </div>
    <!-- Copyright -->

  </footer>