

@media (min-width: 500px) {
    .tw-ic { 
        margin-left: 8vh
    }

    .page-footer{  
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
    }
  }
  
@media (max-width: 499px) {
    .tw-ic { 
        margin-left: 5vh
    }
  }
