<div class="d-flex flex-row">
    <div class="container-lg">

        <h2>Table 1</h2>
        <ul>
            <li>Marilyn Hadad</li>
            <li>Shlomo Hadad</li>
            <li>Sharon Ettinger</li>
            <li>Jason Ettinger</li>
            <li>Sarit Maslaton</li>
            <li>Meir Maslaton</li>
            <li>Limor Haddad</li>
            <li>Tiffany Chehova</li>
            <li>Alan Chehova</li>
            <li>Suzie Chehova</li>
            <li>Raymond Chehova</li>
        </ul>
        
        <h2>Table 2</h2>
        <ul>
            <li>Rebecca Abotbol</li>
            <li>Leeor Geater</li>
            <li>Gad Salomon</li>
            <li>Marwan Sayegh</li>
            <li>Ermona Maksudovska</li>
            <li>Phillips Moronta</li>
            <li>Melanie Ross</li>
            <li>Charles Casiano</li>
            <li>Margarita Rivera</li>
            <li>Raymond Debuono</li>
        </ul>
        
        <h2>Table 3</h2>
        <ul>
            <li>Jenna Evernham</li>
            <li>Danny Evernham</li>
            <li>Adelynn Evernham</li>
            <li>Jamie Mueller</li>
            <li>Allen Mueller</li>
            <li>Mary Hanna</li>
            <li>Steven Lombardi</li>
            <li>Julie Khabensky</li>
            <li>Eugene Khabensky</li>
        </ul>
        
        <h2>Table 4</h2>
        <ul>
            <li>Tim Belmont</li>
            <li>Stacey Belmont</li>
            <li>Donald Bragger</li>
            <li>Jennifer Bragger</li>
            <li>Steve David</li>
            <li>Diana David</li>
            <li>Josh Brown</li>
            <li>Carla Brown</li>
        </ul>
        
        <h2>Table 5</h2>
        <ul>
            <li>Will Caliari</li>
            <li>Toni Ann Bernadino</li>
            <li>Mike Chemris</li>
            <li>Megan Chemris</li>
            <li>Britney Russo</li>
            <li>TJ Virtue</li>
            <li>Tommasi Moccia</li>
            <li>Guilianna Moccia</li>
            <li>Kyle Tracey</li>
            <li>Syndey Virtue</li>
        </ul>
        
        <h2>Table 6</h2>
        <ul>
            <li>Marc Connolly</li>
            <li>Robin Connolly</li>
            <li>Robert Connolly</li>
            <li>Chelsea Townsend</li>
            <li>Andy Farmer</li>
            <li>Shari Farmer</li>
            <li>Ethan Farmer</li>
            <li>Kristen Jones</li>
            <li>Ian Farmer</li>
        </ul>
        
        <h2>Table 7</h2>
        <ul>
            <li>Odin Ruiz</li>
            <li>Mordice Hadad</li>
            <li>Ruthe Hadad</li>
            <li>Natalie Hadad-Hamlin</li>
            <li>James Hamlin</li>
            <li>Adam Hamlin</li>
            <li>Lindsay Kugler</li>
            <li>Jacque Kugler</li>
            <li>Isaac Kugler</li>
            <li>Saia Kugler</li>
        </ul>
        
        <h2>Table 8</h2>
        <ul>
            <li>Patty Virtue</li>
            <li>Chris Lowe</li>
            <li>Haley Lowe</li>
            <li>Yvonne Lowe</li>
            <li>Ashley Lowe</li>
            <li>Kiersten Rihacek</li>
            <li>Mary York</li>
            <li>Ron White</li>
        </ul>
        
        <h2>Table 9</h2>
        <ul>
            <li>Charlie Fernandes</li>
            <li>Sharon Fernandes</li>
            <li>Steve Fisher</li>
            <li>Sue Fisher</li>
            <li>Austin Rogers</li>
            <li>Charlie Rogers</li>
            <li>Anita Rogers</li>
            <li>Normalyn Powers</li>
        </ul>
        
        <h2>Table 10</h2>
        <ul>
            <li>Jeffrey Schrieber</li>
            <li>Connie Petner</li>
            <li>Leah Schrieber</li>
            <li>Jacob Schrieber</li>
            <li>Gary Jennings</li>
            <li>Jessica Talevich</li>
            <li>Alec Talevich </li>
            <li>Helen Lo</li>
            <li>Albert Lo</li>
        </ul>
    </div>
</div>
