<div class="d-flex flex-row">
    <div class="container-lg">
        <h2>Hors d’oeuvres</h2>
        <ul>
            <li>Grilled Vegetable Quesadilla with Vegan Cheese <i>- v</i></li>
            <li>Beer Braised Beef Short Rib served on a Mini Potato Roll</li>
            <li>Black Bean and Avocado Canapés <i>- v</i></li>
            <li>Coconut Shrimp served with Sweet Chili Dipping Sauce</li>
            <li>Homemade Macaroni and Cheese served in a Tortilla Cup</li>
            <li>Smoked Salmon on Endive with Dill Sauce and Capers</li>
            <li>Pepper Seared Tuna with Pickled Ginger and Wasabi Served on a Cucumber Round</li>
            <li>White Bean and Caper Puree served on a Pita Crisp garnished with Roasted Pepper <i>- v</i></li>
            <li>Roasted Beets and Goat Cheese served with a Balsamic Drizzle
            <li>Chicken Satay with Peanut sauce</li>
            <li>Fig Mascarpone in a Tartlet Shell with Honey Drizzle</li>
            <li>Miniature Hamburger and Cheeseburger Sliders</li>
        </ul>

        <h2>Dinner</h2>
        <ul>
            <li>Roasted Top Round of Beef, Garlic and Rosemary Au Jus</li>
            <li>Pan Seared Salmon with Fresh Lemon and Dill Sauce</li>
            <li>Chicken Rosemarie with Sun Dried Tomato and Pesto Cream Sauce</li>
        </ul>

        <h2>Accompaniments</h2>
        <ul>
            <li>Mixed Mesclun Greens. Julienne of Carrot, Sliced Cucumber, Bermuda Onion, Grape Tomato and Herb Croutons served with Balsamic or Raspberry Vinaigrette <i>- v</i></li>
            <li>Roasted Red Bliss and Sweet Potato <i>- v</i></li>
            <li>Penne Pasta with Vodka Sauce <i>- v</i></li>
            <li>Roasted Mixed Seasonal Vegetables <i>- v</i></li>
            <li>Blended Wild Rice with Fresh Herbs <i>- v</i></li>
        </ul>

        <h2>Dessert</h2>
        <ul>
            <li>Wedding Cake</li>
            <li>Igloo Pops</li>
            <li>Fruit Kabobs</li>
            <li>White Russian</li>
            <li>Coffee</li>
        </ul>
    </div>
</div>
