<div class="d-flex flex-row">
    <div class="container-lg">
        <h2>Hors d’oeuvres</h2>
        <ul>
            <li>Avocado and Vegetable Quesadilla with Vegan Cheese (Vegan)</li>
            <li>Beer Braised Beef Short Rib served on a Mini Potato Roll</li>
            <li>Black Bean and Avocado Canapés (Vegan)</li>
            <li>Coconut Shrimp with Sweet Chili Dipping Sauce</li>
            <li>Homemade Mac and Cheese served in a Tortilla Shell</li>
            <li>Smoked Salmon on Endive with Dill Sauce and Capers</li>
            <li>Pepper Seared Tuna, Pickled Ginger, Wasabi served on a Cuccumber Round</li>
            <li>White Bean and Caper Puree served on Pita garnished with Roasted Pepper (Vegan)</li>
            <li>Roasted Beets and Goat Cheese served with a Balsamic Drizzle</li>
            <li>Chicken Satay with Peanut Sauce</li>
            <li>Fig Mascarpone in a Tartlet Shell with Honey Drizzle</li>
            <li>Hamburger and Cheeseburger Sliders with Ketchup on the side</li>
            <li>International Cheese Display: Brie Wheel, Smoked Gouda, Mild Vermont Cheddar, Aged Manchego, Wisconsin Munster & Cranberry Goat Cheese, Fresh Red Grapes, Seasonal Melon, Strawberries, Flatbreads and Crackers</li>
            <li>Fresh Vegetable Crudités: Crisp Baby Carrots, Broccoli, Cauliflower, Celery, Red Bell Peppers, Yellow Squash, Sweet Grape Tomato served with Spinach, Blue Cheese and Roasted Pepper Ranch Dip</li>
        </ul>

        <h2>Dinner</h2>
        <ul>
            <li>Mixed Mesclun Greens: Julienne Carrots, Sliced Cuccumber, Bermuda Onion. Grape Tomato and Herb Croutons served with Raspberry Vinaigrette</li>
            <li>Chicken Balsamic (served with mixed grilled vegetables)</li>
            <li>Pan Seared Salmon with Lemon and Dill Buerre Blanc</li>
            <li>Roasted Top Round of Beef with Garlic and Rosemary Au Jus</li>
        </ul>

        <h2>Accompaniments</h2>
        <ul>
            <li>Roasted Red Bliss and Sweet Potatoes</li>
            <li>Penne Pasta with Vodka Sauce</li>
            <li>Roasted Mixed Seasonal Vegetables</li>
            <li>Blended Wild Rice with Fresh Herbs</li>
        </ul>

        <h2>Dessert</h2>
        <ul>
            <li>Wedding Cake</li>
            <li>Igloo Pops</li>
            <li>Fruit Kabobs</li>
            <li>White Russians</li>
            <li>Coffee</li>
        </ul>
    </div>
</div>
