@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

.sidenav-container {
    height: 100%;
    margin: -8px;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  