<div style="margin: 2% 5%;">
<div class="container row">
  <div class="form">
      <input type="file" name="files" (change)="onFileChanged($event)" multiple>
      <p>Upload</p>
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <a *ngFor="let item of items" href="{{ item?.type == 'video' ? item?.url : '' }}"><img src="{{  item?.type == 'video' ? item?.thumbnailUrl : '' }}"></a>
  </div>
  <div class="col-md-10">
      <a *ngFor="let item of items" href="{{ item?.type == 'image' ? item?.url : '' }}"><img src="{{  item?.type == 'image' ? item?.thumbnailUrl : '' }}"></a>
  </div>
</div></div>