/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
@media (min-height: 500px) {
  app-images {
    height: 80%;
    min-height: 80%;
    margin-bottom: 20%;
  }
}