.header-container{
    align-items: center;
    padding: 24px 32px;
    top: 0;
    width: calc(100% - 87px);
    z-index: 1;
}
.header-text{
    margin-left: 10px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}